{{- if .Values.grafana.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: wiki-grafana-dashboard-config
  labels:
#    {{- include "wiki-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: wiki-grafana
data:
  dashboard.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: true
{{- end }}
